In [2]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [4]:
data=pd.read_csv('StudentPerformanceG.csv')
data.describe()

,math score,reading score,writing score,placement score,club join year,placement offer count
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,70.705882,85.235294,71.529412,87.882353,2019.176471,2.647059
std,4.660535,6.310006,6.662560,8.207332,1.074436,0.492592
min,64.000000,76.000000,62.000000,76.000000,2018.000000,2.000000
25%,67.000000,80.000000,65.000000,79.000000,2018.000000,2.000000
50%,69.000000,85.000000,72.000000,89.000000,2019.000000,3.000000
75%,75.000000,92.000000,77.000000,94.000000,2020.000000,3.000000
max,79.000000,94.000000,80.000000,100.000000,2021.000000,3.000000

In [6]:
numericColumns= ['math score', 'reading score', 'writing score', 'placement score', 'placement offer count']
#Mean of each column
print("Mean:")
data[numericColumns].mean()

Mean:

math score               70.705882
reading score            85.235294
writing score            71.529412
placement score          87.882353
placement offer count     2.647059
dtype: float64

In [8]:
#Mode
print("Mode:")
data[numericColumns].mode().iloc[0]

Mode:

math score               75.0
reading score            77.0
writing score            63.0
placement score          78.0
placement offer count     3.0
Name: 0, dtype: float64

In [10]:
#Median
print("Median:")
data[numericColumns].median()

Median:

math score               69.0
reading score            85.0
writing score            72.0
placement score          89.0
placement offer count     3.0
dtype: float64

In [12]:
#Standard Deviation
print("Standard Deviation:")
data[numericColumns].std()

Standard Deviation:

math score               4.660535
reading score            6.310006
writing score            6.662560
placement score          8.207332
placement offer count    0.492592
dtype: float64

In [14]:
#Maximum
print("Maximum:")
data[numericColumns].max()

Maximum:

math score                79
reading score             94
writing score             80
placement score          100
placement offer count      3
dtype: int64

In [16]:
#Minimum
print("Minimum:")
data[numericColumns].min()

Minimum:

math score               64
reading score            76
writing score            62
placement score          76
placement offer count     2
dtype: int64

In [28]:
#list that contains a numeric value for each response to the categorical variable.
e = preprocessing.OneHotEncoder()
enc_data = pd.DataFrame(e.fit_transform(data[['gender']]).toarray())
enc_data

KeyError: "None of [Index(['gender'], dtype='object')] are in the [columns]"